body {
    margin: 0;
    background-color: #B7E0FF;
    text-align: center;
}

#IntroductionBackground {
    width: 800px;
    text-decoration: antiquewhite;
    background-color: #FFF5CD;
}

#Methods {
    width: 800px;
    background-color: #FFF5CD;
}

#Results {
    width: 1600px;
    background-color: #FFCFB3;
}

#DiscussionsConclusions {
    width: 500px;
    background-color: #E78F81;
}

#Further {
    width: 300px;
    background-color: #FFBE98;
}